@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Boge';
  src: url("Boge-MV3lY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@layer base {
  h1,
  h2,
  h3 {
    font-family: 'Boge', sans-serif;
  }
}



