@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bellow';
    src: url('Bellowingsky.woff2') format('woff2'),
        url('Bellowingsky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rupster';
    src: url('RupsterScriptFree.woff2') format('woff2'),
        url('RupsterScriptFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: 'Rupster', sans-serif;
    color: #fff;
  }
}



