@font-face {
    font-family: 'Rupster Script Free';
    src: url('RupsterScriptFree.woff2') format('woff2'),
        url('RupsterScriptFree.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

