@font-face {
    font-family: 'Bellowingsky';
    src: url('Bellowingsky.woff2') format('woff2'),
        url('Bellowingsky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

